 /*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
  */
  /*#root {
   display: flexbox;
   flex-direction: column;
   height:100%;
    margin: 0 auto;
    text-align: center;
background-color: black;
  }
  
  body {
    background: linear-gradient(to bottom,#f48fb1, #f06292, #ad1457);
    height: 100%; 
    */

    .App {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      
    }
    
    html,body {
      padding: 0;
      margin: 0;
      height: 100%;
        }

   

       

  
  
