 /*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
  */
  #root {
    height: 100%; /* Ensure html and body take up the full viewport height */
    margin: 0 auto;
    text-align: center;

  }
  
  body {
    background: linear-gradient(to bottom,#f48fb1, #f06292, #ad1457);
    height: 100%; /* Ensure body takes up the full height of the page */
  }
  
