.landing_layout {
display: flexbox;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
overflow: auto;
}

.page_name {
    margin-top: 20px; 
    padding: 10px;
    color:white;
    
}

.page_photo {
    margin-bottom: 20px;
}

.start_button {
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 25%;
    font-size: x-large;
}